kaggle==1.5.16
neptune==1.3.1
albumentations==1.3.1
torch==1.13.1
# tensorflow==2.12.0 # Using tflite_runtime for inference if full TF is not needed
tensorflow>=2.12.0 # Full TF is used for Interpreter, keep it or specify a version compatible with tflite features used
rapidfuzz==3.2.0
timm==0.9.6
opencv-python-headless==4.8.0.74 # For video processing (server-side)
transformers==4.32.1

# Web application dependencies
Flask>=2.0 # Chosen web framework
mediapipe>=0.8.5 # For landmark extraction
# numpy is transitively included by tensorflow, opencv, mediapipe
# Werkzeug is transitively included by Flask
